/******************** font antipasto *********************/
@font-face {
    font-family: 'antipasto_proextrabold';
    src: url('fonts/antipasto/antipasto-pro-extrabold-trial-webfont.woff2') format('woff2'),
        url('fonts/antipasto/antipasto-pro-extrabold-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'antipasto_proextralight';
    src: url('fonts/antipasto/antipasto-pro-extralight-trial-webfont.woff2') format('woff2'),
        url('fonts/antipasto/antipasto-pro-extralight-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/******************* font segoe ui **********************/


@font-face {
    font-family: 'Segoe UI';
    src: url('fonts/segoeui/SegoeUI.eot');
    src: local('Segoe UI'), local('SegoeUI'),
        url('fonts/segoeui/SegoeUI.eot?#iefix') format('embedded-opentype'),
        url('fonts/segoeui/SegoeUI.woff2') format('woff2'),
        url('fonts/segoeui/SegoeUI.woff') format('woff'),
        url('fonts/segoeui/SegoeUI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Segoe UI';
}

h1,h2,h3,h4,h5 {
    font-family: 'antipasto_proextralight';
}

a {
    font-family: 'Segoe UI';
}

/* Main  */

#collection h1{
    font-family: 'antipasto_proextrabold';
}
#collection h2{
    font-family: 'antipasto_proextralight'; 
}
#news h1,
h2 {
    font-family: 'Segoe UI';
}

.image-container {
    background-image: url("images/fond-book.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
}

.taille{
    width: 50%;
}
#maModale h5{
    font-family: 'Segoe UI';
}
.bodyJson h4{
    font-family: 'Segoe UI';
   
}


@media (min-width: 768px) {
    .taille {
      width: 100%;
      /* Ajoutez d'autres styles spécifiques aux écrans de taille moyenne et plus grands si nécessaire */
    }
  }