/******************** font antipasto *********************/
@font-face {
    font-family: 'antipasto_proextrabold';
    src: url('fonts/antipasto/antipasto-pro-extrabold-trial-webfont.woff2') format('woff2'),
        url('fonts/antipasto/antipasto-pro-extrabold-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'antipasto_proextralight';
    src: url('fonts/antipasto/antipasto-pro-extralight-trial-webfont.woff2') format('woff2'),
        url('fonts/antipasto/antipasto-pro-extralight-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'antipasto_pro_regular';
    src: url('fonts/antipasto/antipasto-pro-regular-trial-webfont.woff2') format('woff2'),
        url('fonts/antipasto/antipasto-pro-regular-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/******************* font segoe ui **********************/
@font-face {
    font-family: 'Segoe UI';
    src: url('fonts/segoeui/SegoeUI-BoldItalic.eot');
    src: local('fonts/segoeui/Segoe UI Bold Italic'), local('SegoeUI-BoldItalic'),
        url('fonts/segoeui/SegoeUI-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/segoeui/SegoeUI-BoldItalic.woff2') format('woff2'),
        url('fonts/segoeui/SegoeUI-BoldItalic.woff') format('woff'),
        url('fonts/segoeui/SegoeUI-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('fonts/segoeui/SegoeUI.eot');
    src: local('Segoe UI'), local('SegoeUI'),
        url('fonts/segoeui/SegoeUI.eot?#iefix') format('embedded-opentype'),
        url('fonts/segoeui/SegoeUI.woff2') format('woff2'),
        url('fonts/segoeui/SegoeUI.woff') format('woff'),
        url('fonts/segoeui/SegoeUI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('fonts/segoeui/SegoeUI-SemiBold.eot');
    src: local('Segoe UI Semibold'), local('SegoeUI-SemiBold'),
        url('fonts/segoeui/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/segoeui/SegoeUI-SemiBold.woff2') format('woff2'),
        url('fonts/segoeui/SegoeUI-SemiBold.woff') format('woff'),
        url('fonts/segoeui/SegoeUI-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('fonts/segoeui/SegoeUI-Light.eot');
    src: local('Segoe UI Light'), local('SegoeUI-Light'),
        url('fonts/segoeui/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/segoeui/SegoeUI-Light.woff2') format('woff2'),
        url('fonts/segoeui/SegoeUI-Light.woff') format('woff'),
        url('fonts/segoeui/SegoeUI-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('fonts/segoeui/SegoeUI-Bold.eot');
    src: local('Segoe UI Bold'), local('SegoeUI-Bold'),
        url('fonts/segoeui/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/segoeui/SegoeUI-Bold.woff2') format('woff2'),
        url('fonts/segoeui/SegoeUI-Bold.woff') format('woff'),
        url('fonts/segoeui/SegoeUI-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('fonts/segoeui/SegoeUI-Italic.eot');
    src: local('Segoe UI Italic'), local('SegoeUI-Italic'),
        url('fonts/segoeui/SegoeUI-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/segoeui/SegoeUI-Italic.woff2') format('woff2'),
        url('fonts/segoeui/SegoeUI-Italic.woff') format('woff'),
        url('fonts/segoeui/SegoeUI-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

body {
    font-family: 'Segoe UI';
}

h1,
h2,
h3 {
    font-family: 'antipasto_proextralight';
}

a {
    font-family: 'Segoe UI';
}

/* Main  */
#collection h1 {
    font-family: 'antipasto_proextrabold';
}

#news h1,
h2 {
    font-family: 'Segoe UI';
}
.image-container {
    position: relative;
  }

  .titre-sur-image {
    position: absolute;
    top: 20%;
    left: 25%;
    transform: translate(-50%, -50%);
  }
  .text-sur-image {
    position: absolute;
    top: 80%;
    left: 16%;
    transform: translate(-50%, -50%);
    color: white;
  }
  .btn-custum{
    background-color: yellowgreen;
  }